<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655433777007-4ku3lms9bln9rv89qg5d42mvve49iour.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655433777007-4ku3lms9bln9rv89qg5d42mvve49iour</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655433777007-d3fg9o471tbf3e7ebhlajaimkoon8v0b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIssVbYujrvCZfxmRQV1NvS2N6Q0dTdHg</string>
	<key>GCM_SENDER_ID</key>
	<string>655433777007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sterling.galleon</string>
	<key>PROJECT_ID</key>
	<string>galleon-e879f</string>
	<key>STORAGE_BUCKET</key>
	<string>galleon-e879f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655433777007:ios:148c93ffad70ec9223f29a</string>
</dict>
</plist>